.containerFicha {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > img {
    width: 90%;
    padding-bottom: 50px;
  }

  > button {
    width: 45%;
    border: 0px;
    background-image: url("/assets/imgs/texture-button.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
    height: 50px;
    outline: none;
    transition: 0.5s;
  }
}
